%strong Title:
= @post.title
%p
  %strong Author:
  = @post.author
%p
  %strong Text:
  = @post.text
%tr
  %h2 Comments
%tr
  %dl= render @post.comments
  %h3
    Add a comment:
    \#{render "comments/form"}#{link_to 'Back', posts_path}
    | #{link_to 'Edit', edit_post_path(@post)}